.app-pinner-icon:hover {
    transform: scale(1.15);
    background-color: rgba(91, 91, 91, 0.15);
    border-radius: 50px;
}

.app-pinner-remove-btn {
    background-color: transparent;
    border-radius: 50%;
    min-width: 18px;
    min-height: 18px;
    padding: 2px;
    display: flex;
    align-items: right;
    justify-content: right;
    transition: background-color 0.2s ease-in-out;
}

.app-pinner-remove-label {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.app-pinner-remove-btn:hover {
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 50px;
}

.app-pinner-container:hover {
    background-color: transparent !important;
}


.search-box {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    display: flex;
    text-align: center;
    align-items: center;
}

.app-pinner-icon:drag-active {
    opacity: 0.5;
}